<div [class]="type === 'fullscreen' ? 'loader-overlay' : 'loader-inline'">
    <div class="loader-content">
        <div class="scanner-container">
            <div class="scanner-ring"></div>
            <div class="scanner-core"></div>
        </div>
        
        <div class="data-stream">
            @if (progress !== null) {
            <div class="progress-bar-container tech-border">
                <div class="progress-bar" [style.width.%]="progress"></div>
            </div>
            }
            
            <p class="status-text glow-text">
                <span class="prefix">>></span> {{ message }}
            </p>
            
            @if (progress !== null) {
            <p class="percentage">{{ progress }}%</p>
            }
        </div>
    </div>
</div>
